<!DOCTYPE html>
<html>
  <head>
    <title>Weather checker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="script.js"></script>

    <link type="text/css" rel="stylesheet" href="style.css" media="all" />
  </head>
  <body>
    <div class="container" ng-app="weatherApp">
      <div ng-controller="MyWeatherController">

        <h2>Current weather in {{currentCity}}</h2>
        <div class="section current">
          <form name="weather-form">
            <label for="city">City, State / Zip code</label>
            <input 
              type="text" 
              ng-model="city"> <!-- ng-model-options="{updateOn: 'submit'}" -->
            <br>
            <label for="units">Units</label>
            <input type="radio" ng-model="units" value="metric"> Metric
            <input type="radio" ng-model="units" value="imperial"> Imperial<br>
            <button ng-click="updateData()">Update</button>
            <h3>{{data.name}}</h3>
            <p>{{description}}</p>
            <p>Temperature: {{main.temp}}</p>
            <p>Wind speed: {{wind.speed}}</p>
          </form>
        </div>

        <h2>Weather forecast for {{currentCity}}</h2>
        <div class="section forecast">
          
        </div>
      </div>
    </div>
  </body>
</html>