<!DOCTYPE html>
<html>
  <head>
    <title>
      Expressions
    </title>
  </head>
  <body ng-app="expressionExample">
    <div ng-controller="ExampleController" class="expressions">
      Expression:
      <input type="text" ng-model="expr" size="50"/>
      <button ng-click="addExpr(expr)">Evaluate</button>
      <ul>
        <li ng-repeat="expr in exprs track by $index">
          <button ng-click="removeExpr($index)">Remove</button>
          <tt>{{expr}}</tt> => <span ng-bind="$parent.$eval(expr)"></span>
        </li> 
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>